 nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding:20px;
  background:red;
 }

 nav a{
  color: white;
  text-decoration:none;
  font-weight:bold;
 }

 nav a.active{
  text-decoration:underline;
 }
 main{
  min-height:400px;
 }
 
 footer{
  text-align:center;
  padding:20px;
  background:grey;
  color:white;
 }